<h3 style="text-align: center;">Lab 03: Pandas</h3>

- This lab covers the Pandas, including topics such as data cleaning, and data manipulation. 

- There are five questions in total. Please provide your code answers directly below each question.

- Make sure to run all cells so that the answers are stored. Once completed, export your .ipynb file as either **HTML** or **PDF**, **ensuring that all answers are included**. Submit the HTML or PDF file to Canvas by **midnight (11:29 PM) on September 22**.

- This lab is worth a total of **65 points** and contributes **6.5%** toward the final grade.

### 1. Provide the code to read in the data into DataFrames.

In [3]:
import pandas as pd
crash_data = pd.read_csv(r'D:\Teaching_Data\vehicle_crashes.csv')

C:\Users\yanawu\AppData\Local\Temp\ipykernel_23592\460139338.py:2: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  crash_data = pd.read_csv(r'D:\Teaching_Data\vehicle_crashes.csv')

#### 1.1  Access data Part 1

- How many rows and columns are present in the DataFrame?

In [4]:
crash_data.shape

(6802, 149)

#### 1.2 Access data

- Print the name of all the columns in the DataFrame

In [5]:
crash_data.columns

Index(['OBJECTID_1', 'CRASH_NUMB', 'CITY_TOWN_', 'CRASH_DATE', 'CRASH_DA_1',
       'CRASH_STAT', 'CRASH_SEVE', 'MAX_INJR_S', 'NUMB_VEHC', 'NUMB_NONFA',
       ...
       'VEHICLE_VI', 'DRIVER_VIO', 'NON_MTRS_3', 'NON_MTRS_4', 'NON_MTRS_5',
       'NON_MTRS_6', 'NON_MTRS_7', 'NON_MTRS_8', 'TRAFFIC_CO', 'SHAPE_1'],
      dtype='object', length=149)

#### 1.3 Data Cleaning
- Create a new Dataframe only include below columns

'CRASH_DA_1', 'CRASH_SEVE', 'NUMB_VEHC', 'STREETNAME'
 
- Print the first 8 rows using .head():

In [6]:
sub_crash = crash_data.loc[:, ['CRASH_DA_1', 'CRASH_SEVE', 'NUMB_VEHC', 'STREETNAME']]
sub_crash.head(n=8)

  CRASH_DA_1                           CRASH_SEVE  NUMB_VEHC      STREETNAME
0   1/5/2024  Property damage only (none injured)          2  INTERSTATE 290
1   1/5/2024  Property damage only (none injured)          2  INTERSTATE 290
2   1/7/2024  Property damage only (none injured)          2  INTERSTATE 290
3   1/7/2024  Property damage only (none injured)          2  INTERSTATE 290
4   1/2/2024  Property damage only (none injured)          3  INTERSTATE 290
5   1/2/2024  Property damage only (none injured)          3  INTERSTATE 290
6   1/2/2024  Property damage only (none injured)          3  INTERSTATE 290
7   1/4/2024  Property damage only (none injured)          3  INTERSTATE 290

#### 1.4 Data Cleaning Part 2

- Rename the column names 

'CRASH_DA_1' to 'CRASH_DATE'

- Print column names

In [7]:
sub_crash.rename(columns={'CRASH_DA_1' :'CRASH_DATE'}, inplace=True)
sub_crash.columns

Index(['CRASH_DATE', 'CRASH_SEVE', 'NUMB_VEHC', 'STREETNAME'], dtype='object')

#### 1.5 Converting data type
 
- Convert data type of CRASH_DATE to 'DateTime' and store it in a new column
- Print the first 5 rows of the dataframe
- Print a concise summary of dataframe

In [8]:
sub_crash['DT'] = pd.to_datetime(sub_crash['CRASH_DATE'], format = "%m/%d/%Y")

In [9]:
sub_crash.head(n=5)

,CRASH_DATE,CRASH_SEVE,NUMB_VEHC,STREETNAME,DT
0,1/5/2024,Property damage only (none injured),2,INTERSTATE 290,2024-01-05
1,1/5/2024,Property damage only (none injured),2,INTERSTATE 290,2024-01-05
2,1/7/2024,Property damage only (none injured),2,INTERSTATE 290,2024-01-07
3,1/7/2024,Property damage only (none injured),2,INTERSTATE 290,2024-01-07
4,1/2/2024,Property damage only (none injured),3,INTERSTATE 290,2024-01-02

In [10]:
sub_crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6802 entries, 0 to 6801
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CRASH_DATE  6802 non-null   object
 1   CRASH_SEVE  6802 non-null   object
 2   NUMB_VEHC   6802 non-null   int64
 3   STREETNAME  6226 non-null   object
 4   DT          6802 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 265.8+ KB

#### 1.6 Aggregating Statistics
- Grouping NUMB_VEHC based on STREETNAME
- Sort the dataframe from largest value of NUMB_VEHC to smallest value of NUMB_VEHC based on aggregating statistics

In [11]:
rst = sub_crash[["NUMB_VEHC", "STREETNAME"]].groupby("STREETNAME").sum()

In [12]:
rst.sort_values(by = 'NUMB_VEHC', ascending=False)

                NUMB_VEHC
STREETNAME
INTERSTATE 290       1185
MAIN STREET           736
PARK AVENUE           595
BELMONT STREET        385
GRAFTON STREET        377
...                   ...
SHAWMUT STREET          1
BETHANY STREET          1
TEMPLE STREET           1
BEVERLY ROAD            1
ABBOTT STREET           1

[524 rows x 1 columns]